---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Posts marcados com “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Posts marcados com “{{ tag }}”</h1>

{% set postslist = collections[ tag ] %}
{% include "postslist.njk" %}

<p>Veja <a href="{{ '/tags/' | url }}">todas as tags</a>.</p>
