.git
.github
.env
.env.*
!.env.example
!.env.prod.example

/vendor
/node_modules

*.sqlite
*.sqlite-journal
database/*.sqlite

/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public
/storage/app/public/*
!/storage/app/public/.gitignore
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

/public/build
/public/hot
/public/storage
/public/js/filament
/public/css/filament
/public/fonts/filament

/tests
/.phpunit.cache
.phpunit.result.cache
