{
    "openapi": "3.1.0",
    "info": {
        "title": "Guesant public API",
        "version": "1.0.0",
        "description": "Public JSON API for guesant.net."
    },
    "servers": [
        {
            "url": "https://api.guesant.net/api/v1",
            "description": "Production"
        },
        {
            "url": "http://localhost:8001/api/v1",
            "description": "Local"
        }
    ],
    "paths": {
        "/findings": {
            "get": {
                "operationId": "findingApi.index",
                "tags": [
                    "FindingApi"
                ],
                "parameters": [
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": {}
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "additionalProperties": {}
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The service is temporarily unavailable.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/findings/{slug}": {
            "get": {
                "operationId": "findingApi.show",
                "tags": [
                    "FindingApi"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested finding was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The service is temporarily unavailable.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/site/chrome": {
            "get": {
                "operationId": "publicSiteApi.chrome",
                "tags": [
                    "PublicSiteApi"
                ],
                "parameters": [
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "site": {
                                            "type": "object",
                                            "properties": {
                                                "short_name": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "portfolio_url": {
                                                    "type": "string"
                                                },
                                                "source_repository_url": {
                                                    "type": "string"
                                                },
                                                "contact_available": {
                                                    "type": "boolean"
                                                },
                                                "contact_profiles": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "platform": {
                                                                "type": "string"
                                                            },
                                                            "label": {
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "platform",
                                                            "label",
                                                            "url"
                                                        ]
                                                    }
                                                },
                                                "protected_email": {
                                                    "type": "null"
                                                },
                                                "maintenance_enabled": {
                                                    "type": "boolean"
                                                },
                                                "maintenance_eyebrow": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "maintenance_title": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "maintenance_description": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "seo": {
                                                    "type": [
                                                        "object",
                                                        "null"
                                                    ],
                                                    "properties": {
                                                        "title": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "description": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "canonical": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "image": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "imageAlt": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "robots": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "noIndex": {
                                                            "type": "boolean"
                                                        },
                                                        "keywords": {
                                                            "type": "array",
                                                            "items": {
                                                                "type": "string"
                                                            }
                                                        }
                                                    },
                                                    "required": [
                                                        "title",
                                                        "description",
                                                        "canonical",
                                                        "image",
                                                        "imageAlt",
                                                        "robots",
                                                        "noIndex",
                                                        "keywords"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "short_name",
                                                "portfolio_url",
                                                "source_repository_url",
                                                "contact_available",
                                                "contact_profiles",
                                                "protected_email",
                                                "maintenance_enabled",
                                                "maintenance_eyebrow",
                                                "maintenance_title",
                                                "maintenance_description",
                                                "seo"
                                            ]
                                        },
                                        "profile": {
                                            "type": [
                                                "object",
                                                "null"
                                            ],
                                            "properties": {
                                                "name": {
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "location": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "description": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "milestones": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "year": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "title": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "description": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "hidden": {
                                                                "type": "boolean"
                                                            }
                                                        },
                                                        "required": [
                                                            "year",
                                                            "title",
                                                            "description",
                                                            "hidden"
                                                        ]
                                                    }
                                                },
                                                "birth_date": {
                                                    "type": "string"
                                                },
                                                "birth_city": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "interests": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "learning": {
                                                    "type": [
                                                        "string",
                                                        "null"
                                                    ]
                                                },
                                                "personal_interests": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "value": {
                                                                "type": "string"
                                                            }
                                                        },
                                                        "required": [
                                                            "value"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "name",
                                                "title",
                                                "location",
                                                "description",
                                                "milestones",
                                                "birth_date",
                                                "birth_city",
                                                "interests",
                                                "learning",
                                                "personal_interests"
                                            ]
                                        },
                                        "copyright": {
                                            "type": "string"
                                        },
                                        "navigation": {
                                            "type": "object",
                                            "properties": {
                                                "sidebar": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "route": {
                                                                    "type": "string"
                                                                },
                                                                "label": {
                                                                    "type": [
                                                                        "string",
                                                                        "null"
                                                                    ]
                                                                },
                                                                "children": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "route": {
                                                                                "type": "string"
                                                                            },
                                                                            "label": {
                                                                                "type": [
                                                                                    "string",
                                                                                    "null"
                                                                                ]
                                                                            },
                                                                            "children": {
                                                                                "type": "null"
                                                                            }
                                                                        },
                                                                        "required": [
                                                                            "route",
                                                                            "label",
                                                                            "children"
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "required": [
                                                                "route",
                                                                "label",
                                                                "children"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "footer_links": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "route": {
                                                                "type": "string"
                                                            },
                                                            "label": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "children": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "route": {
                                                                            "type": "string"
                                                                        },
                                                                        "label": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "children": {
                                                                            "type": "null"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "route",
                                                                        "label",
                                                                        "children"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "route",
                                                            "label",
                                                            "children"
                                                        ]
                                                    }
                                                },
                                                "sitemap": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "route": {
                                                                "type": "string"
                                                            },
                                                            "label": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "children": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "route": {
                                                                            "type": "string"
                                                                        },
                                                                        "label": {
                                                                            "type": [
                                                                                "string",
                                                                                "null"
                                                                            ]
                                                                        },
                                                                        "children": {
                                                                            "type": "null"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "route",
                                                                        "label",
                                                                        "children"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "route",
                                                            "label",
                                                            "children"
                                                        ]
                                                    }
                                                }
                                            },
                                            "required": [
                                                "sidebar",
                                                "footer_links",
                                                "sitemap"
                                            ]
                                        },
                                        "build": {
                                            "type": "object",
                                            "properties": {
                                                "commit_sha": {
                                                    "type": "string"
                                                },
                                                "build_time": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "commit_sha",
                                                "build_time"
                                            ]
                                        },
                                        "visibility": {
                                            "type": "object",
                                            "properties": {
                                                "about": {
                                                    "type": "boolean"
                                                },
                                                "resume": {
                                                    "type": "boolean"
                                                },
                                                "portfolio": {
                                                    "type": "boolean"
                                                },
                                                "cases": {
                                                    "type": "boolean"
                                                },
                                                "contact": {
                                                    "type": "boolean"
                                                },
                                                "license": {
                                                    "type": "boolean"
                                                },
                                                "credits": {
                                                    "type": "boolean"
                                                },
                                                "follow": {
                                                    "type": "boolean"
                                                },
                                                "feed": {
                                                    "type": "boolean"
                                                },
                                                "writing": {
                                                    "type": "boolean"
                                                },
                                                "findings": {
                                                    "type": "boolean"
                                                },
                                                "topics": {
                                                    "type": "boolean"
                                                },
                                                "collections": {
                                                    "type": "boolean"
                                                },
                                                "snippets": {
                                                    "type": "boolean"
                                                },
                                                "right_sidebar": {
                                                    "type": "boolean"
                                                }
                                            },
                                            "required": [
                                                "about",
                                                "resume",
                                                "portfolio",
                                                "cases",
                                                "contact",
                                                "license",
                                                "credits",
                                                "follow",
                                                "feed",
                                                "writing",
                                                "findings",
                                                "topics",
                                                "collections",
                                                "snippets",
                                                "right_sidebar"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "site",
                                        "profile",
                                        "copyright",
                                        "navigation",
                                        "build",
                                        "visibility"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The service is temporarily unavailable.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/site/home-gallery": {
            "get": {
                "operationId": "publicSiteApi.homeGallery",
                "tags": [
                    "PublicSiteApi"
                ],
                "parameters": [
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "highlights": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "kind": {
                                                        "type": "string"
                                                    },
                                                    "item": {
                                                        "type": "object",
                                                        "additionalProperties": {}
                                                    }
                                                },
                                                "required": [
                                                    "kind",
                                                    "item"
                                                ]
                                            }
                                        },
                                        "recent": {
                                            "type": "object",
                                            "properties": {
                                                "feed": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "additionalProperties": {}
                                                    }
                                                },
                                                "projects": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "additionalProperties": {}
                                                    }
                                                }
                                            },
                                            "required": [
                                                "feed",
                                                "projects"
                                            ]
                                        },
                                        "popular": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": {}
                                            }
                                        },
                                        "collections": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": {}
                                            }
                                        },
                                        "projects": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": {}
                                            }
                                        }
                                    },
                                    "required": [
                                        "highlights",
                                        "recent",
                                        "popular",
                                        "collections",
                                        "projects"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The service is temporarily unavailable.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/site/pages/{slug}": {
            "get": {
                "operationId": "publicSiteApi.page",
                "tags": [
                    "PublicSiteApi"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/site/resume": {
            "get": {
                "operationId": "publicSiteApi.resumeData",
                "tags": [
                    "PublicSiteApi"
                ],
                "parameters": [
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "summary": {
                                            "type": [
                                                "string",
                                                "null"
                                            ]
                                        },
                                        "leadership": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "education": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "certificates": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "certifications": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "publications": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "recommendations": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "technical_productions": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "events": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "awards": {
                                            "anyOf": [
                                                {
                                                    "type": "string"
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "experience": {
                                            "type": "array",
                                            "items": {
                                                "type": "string"
                                            }
                                        },
                                        "selected_cases": {
                                            "anyOf": [
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "slug": {
                                                                "type": "string"
                                                            },
                                                            "url": {
                                                                "type": "string"
                                                            },
                                                            "title": {
                                                                "type": "string"
                                                            },
                                                            "status": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "summary": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "published_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "external": {
                                                                "type": "string"
                                                            },
                                                            "meta": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "context": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "role": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "result": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "metrics": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "body": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            },
                                                            "technologies": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "slug": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "slug",
                                                                        "name"
                                                                    ]
                                                                }
                                                            },
                                                            "show_history": {
                                                                "type": "boolean"
                                                            },
                                                            "history": {
                                                                "type": "null"
                                                            },
                                                            "href": {
                                                                "type": "string"
                                                            },
                                                            "related": {
                                                                "type": "null"
                                                            },
                                                            "updated_at": {
                                                                "type": [
                                                                    "string",
                                                                    "null"
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "slug",
                                                            "url",
                                                            "title",
                                                            "status",
                                                            "summary",
                                                            "published_at",
                                                            "external",
                                                            "meta",
                                                            "context",
                                                            "role",
                                                            "result",
                                                            "metrics",
                                                            "body",
                                                            "technologies",
                                                            "show_history",
                                                            "history",
                                                            "href",
                                                            "related",
                                                            "updated_at"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "skills": {
                                            "anyOf": [
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "technologies": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "object",
                                                                    "properties": {
                                                                        "slug": {
                                                                            "type": "string"
                                                                        },
                                                                        "name": {
                                                                            "type": "string"
                                                                        },
                                                                        "code": {
                                                                            "type": "null"
                                                                        },
                                                                        "url": {
                                                                            "type": "null"
                                                                        },
                                                                        "skills": {
                                                                            "type": "null"
                                                                        },
                                                                        "resume_skills": {
                                                                            "type": "null"
                                                                        }
                                                                    },
                                                                    "required": [
                                                                        "slug",
                                                                        "name",
                                                                        "code",
                                                                        "url",
                                                                        "skills",
                                                                        "resume_skills"
                                                                    ]
                                                                }
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "technologies"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        },
                                        "languages": {
                                            "anyOf": [
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "properties": {
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "proficiency": {
                                                                "anyOf": [
                                                                    {
                                                                        "type": "string"
                                                                    },
                                                                    {
                                                                        "type": "string",
                                                                        "enum": [
                                                                            ""
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        },
                                                        "required": [
                                                            "name",
                                                            "proficiency"
                                                        ]
                                                    }
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "summary",
                                        "leadership",
                                        "education",
                                        "certificates",
                                        "certifications",
                                        "publications",
                                        "recommendations",
                                        "technical_productions",
                                        "events",
                                        "awards",
                                        "experience",
                                        "selected_cases",
                                        "skills",
                                        "languages"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/content/{collection}": {
            "get": {
                "operationId": "publicSiteApi.collection",
                "tags": [
                    "PublicSiteApi"
                ],
                "parameters": [
                    {
                        "name": "collection",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "topic",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "kind",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "featured",
                        "in": "query",
                        "schema": {
                            "type": "boolean",
                            "default": false
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "additionalProperties": {}
                                            }
                                        },
                                        "meta": {
                                            "type": "object",
                                            "additionalProperties": {}
                                        }
                                    },
                                    "required": [
                                        "data",
                                        "meta"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested collection was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The service is temporarily unavailable.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/content/{collection}/{slug}": {
            "get": {
                "operationId": "publicSiteApi.document",
                "tags": [
                    "PublicSiteApi"
                ],
                "parameters": [
                    {
                        "name": "collection",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "locale",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "additionalProperties": {}
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested document was not found.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The service is temporarily unavailable.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/resume/{locale}.pdf": {
            "get": {
                "operationId": "publicSiteApi.resumePdf",
                "tags": [
                    "PublicSiteApi"
                ],
                "parameters": [
                    {
                        "name": "locale",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/pdf": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/protected-email/challenge": {
            "post": {
                "operationId": "publicSiteApi.protectedEmailChallenge",
                "tags": [
                    "PublicSiteApi"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": [
                                        "object",
                                        "null"
                                    ],
                                    "additionalProperties": {}
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "The service is temporarily unavailable.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "error"
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/snippets/{slug}/download": {
            "get": {
                "operationId": "snippetDownload",
                "tags": [
                    "SnippetDownload"
                ],
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "files",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "description": "The public snippet files do not satisfy the archive safety limits.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "error": {
                                            "type": "object",
                                            "properties": {
                                                "code": {
                                                    "type": "string"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "status": {
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "code",
                                                "message",
                                                "status",
                                                "details"
                                            ]
[...]
