.site-inline {
    display: flex;
}

.site-inline[data-wrap="true"] {
    flex-wrap: wrap;
}

.site-inline[data-wrap="false"] {
    flex-wrap: nowrap;
}

.site-inline[data-gap="none"] {
    gap: 0;
}

.site-inline[data-gap="xs"] {
    gap: var(--site-space-1);
}

.site-inline[data-gap="sm"] {
    gap: var(--site-space-2);
}

.site-inline[data-gap="md"] {
    gap: var(--site-space-4);
}

.site-inline[data-gap="lg"] {
    gap: var(--site-space-6);
}

.site-inline[data-gap="xl"] {
    gap: var(--site-space-8);
}

.site-inline[data-gap="xxl"] {
    gap: var(--site-space-10);
}

.site-inline[data-align="start"] {
    align-items: flex-start;
}

.site-inline[data-align="center"] {
    align-items: center;
}

.site-inline[data-align="end"] {
    align-items: flex-end;
}

.site-inline[data-align="baseline"] {
    align-items: baseline;
}

.site-inline[data-align="stretch"] {
    align-items: stretch;
}

.site-inline[data-justify="start"] {
    justify-content: flex-start;
}

.site-inline[data-justify="center"] {
    justify-content: center;
}

.site-inline[data-justify="end"] {
    justify-content: flex-end;
}

.site-inline[data-justify="between"] {
    justify-content: space-between;
}
